.wrapper{
    background-color: white;
    position: absolute;
    width: 500px;
    top: 85px;
    right: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.icons{
    font-size: 2rem;
    vertical-align: middle;
    padding-bottom: 10px;
    padding-right: 10px;
    user-select: none;
    cursor: pointer;
}

.option{
    text-decoration: none;
    color: black;
    display: block;
    font-size: 1.5rem;
    padding: 5px 20px;
    cursor: pointer;
    transition: 0.8s;
}

.option:hover{
    color: #a749ff;
}

@media (max-width: 600px){
    .wrapper{
        width: 350px;
        top: 60px;
    }
    h4{
        padding-bottom: 10px;
    }
    .icons{
        padding-top: 18px;
    }
}